* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  /* user-select: all; */
  
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

#app-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow: scroll;
}

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px; */
  overflow: scroll;
}

#output {
  /* overflow: hidden; */
  /* user-select: text; */
}

#content{
  overflow: scroll;
  width:100%;height:0%;
/* min-width:100vw;min-height:100vh; */
}