* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}


.app-button {
  width: fit-content;
  /* height: 100%; */
  padding: 4px 8px;
  color: #F7F7F7;
  font-size: 20px;
  font-weight: 800;
  background: #2F3032;
  border: 3px solid #F7F7F7;
  border-radius: 6px;
}


select {
  width: fit-content;
  /* height: 100%; */
  padding: 4px 8px;
  color: #F7F7F7;
  font-size: 20px;
  font-weight: 800;
  background: #2F3032;
  border: 3px solid #F7F7F7;
  border-radius: 6px;
}

.app-button:active {
  filter: brightness(0.8);
}

.button-icon {
  fill: #EAEAEA;
  color: var(--accent-white);
}


#app {
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

canvas {
  display: none;
}

#app-body {
  position: relative;
  /* 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */
  
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  
  gap: 8px;
  overflow-y: scroll;
}

#app-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  /* overflow-y: scroll; */
  height: 50px;
  display: none;
}

svg {
  background: #E2D023;
  filter: invert(1);
  touch-action: none;
}

#scene {
  filter: contrast(1.2);
  /* transform: translate(-630px, -520px) scale(6.5); */

}

#scene>* {
  opacity: 0.5;
  filter: brightness(1.2);
  stroke: rgba(152, 152, 152, 1);
  stroke-width: 0.04px;

}

.gradient1 {
  /* width: 100%; */
  /* height: 400px; */
  background-image:
    linear-gradient(45deg, rgba(45, 204, 171, 0.89), rgba(247, 90, 90, 0.9));
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
  filter: hue-rotate(25deg) invert(1) brightness(1.2);

  overflow: scroll;
}

#zoom-buttons {
  position: absolute;
  left: 8px;
  bottom: 512px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  /* width: 100%; */
  /* height: 100%; */
  padding: 4px;
}

/* #controls {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 128px;
  padding: 4px;
} */

.zoom-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  border: 2px solid #F6F6F6;
  border-radius: 50%;
   box-shadow: 0 2px 4px 1px #00000070;
}

.axis {
  stroke: #5A5656CF;
  stroke-width: 0.5px;
  filter: invert(1) drop-shadow(0px 0px 0.5px #3E8072A3) contrast(1.8);
}
.point {
  fill: #FFFFFF;
}