* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
background:#96592B;
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app-body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}
svg{
background:#ECECEC;

  
}
.highlight> .tile-face {
  fill: #8A88A136;
  fill: #411B95CC;
}

.tile-face{
  fill: #8A88A136;
  
}
