* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

#app-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow-y: scroll;
  touch-action: none;
  
}

#app-footer {
  border-top: 2px solid #00000075;
}

#svg-canvas {
  touch-action: none;
  background: #BEBEBE;
}

.marker-line {
  fill: #DADADA;
  /* fill: none */
}

#scene {
  fill: #FFFFFF;
  /* fill: none */
  touch-action: none;
}

#pixels {
  /* fill: #FFFFFF; */
  /* fill: none */
  touch-action: none;
}

.pixel rect {
  /* fill: none; */
  /* stroke: #D1D1D1; */
  /* stroke-width: 0.075; */
  touch-action: none;
  /* fill: none */
}

#tools {
  display: flex;
  flex-direction: roe;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  padding: 4px;
}

#color-picker {
  width: 80px;
  /* height: 30px; */
  padding: 0;
  border: none;
  /* border-radius: 50%; */
  background: #FFFFFF;
  overflow: hidden;
}
#pixel-size {
  width: 40px;
  /* height: 30px; */
  padding: 2px;
  border: 1px solid #00000075;
  /* border-radius: 50%; */
  background: #FFFFFF;
  overflow: hidden;
}
#zoom {
  width: 40px;
  /* height: 30px; */
  padding: 2px;
  border: 1px solid #00000075;
  /* border-radius: 50%; */
  background: #FFFFFF;
  overflow: hidden;
}

.control-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border: none;
  outline: none;
}