:root {
  --color-white0: #CDCDCD;
  --background-main: #2E2F31;
  --background-main50: #2E2F3150;
  --background-main25: #2E2F3125;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background-main);
  color: #EFEFEF;
  padding: 1px;
}

#file-input {
  display: none;
}


.gradient {
  background-image: linear-gradient(0deg, #2C3032, #2F3135),
    linear-gradient(to right, #1E4B73, #352F34),
    linear-gradient(to right, #1E4B73, #2F3135);
  background-blend-mode: initial,
    color-dodge,
    difference;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
}


#app-header {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px;
  padding: 8px;
}

.control-group > input {
  width: 100%;
  max-width: 50px;
  padding: 4px;
  font-size: 18px;
}

#app-footer,
#app-footer * {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
}


#app-body {
  /* display: grid; */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0;
  grid-auto-flow: dense;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: flex-start;
  border-right: 1px solid #181A1B;
  border-bottom: 1px solid #181A1B;
  background: #F2F2F2;
}


/* #overlay {
  position: absolute;
  posx: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1px;
  background: #14FF0030;
  z-index: 50;
  border: 1px solid #3B3B3B;
  overflow: scroll;
} */

.selection {
  display: contents;
}

.app-button {
  background: #3A3B42;
  border: 1px solid #5F5F5F;
  height: 100%;
  border-radius: 3px;
  color: #EFEFEF;
  font-size: 18px;
  padding: 4px 8px;
  transition: 0.2s ease;
}

/* .app-button:active {
  background: #3F415320;
} */

.app-button[data-active=true] {
  /* background: #3F415320; */
  filter: brightness(160%);
  z-index: 1000;
}

.scroll-fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
  background-image: linear-gradient(to right, var(--background-main), #FFFFFF00 3.5%, #FFFFFF00 96.5%, var(--background-main) 100%);
}

.property-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  padding: 4px 4px;
  background: #3B3B3B;
  background: #25272F;
  font-size: 14px;
}

.property-input-label {}

.property-input-input {}

.property-input[data-editing=true] .property-input-input {}