* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;

}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

a, a * {
  color: #E2E2E2;
  text-decoration: underline;
}

.gradient {
  background-image: linear-gradient(0deg, #2C3032, #2F3135),
    linear-gradient(to right, rgba(30, 75, 115, 1), #352F34),
    linear-gradient(to right, rgba(30, 75, 115, 1), #2F3135);
  background-blend-mode: initial,
    color-dodge,
    difference;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
}


#app-shell {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #EFEFEF;
  background: #212229
  
}

#app {
  position: relative;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: #EFEFEF;
  background: #212229
}

#app-body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* color: #EFEFEF; */
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}


#app-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: #F21515;
  background: #191A2015;
  width: 100%;
  height: 100%;
}

#value-output {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 18px;
text-align: center;
  
}

.sheet {
  display: grid;
  grid-auto-rows: 30px;
  grid-auto-columns: 1fr;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  grid-auto-flow: column dense;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 8px;
  background: #3B3B3B;
  /* border: 1px solid #3B3B3B; */
  /* overflow: scroll; */
  background: #191A2020;
  background: #C2C2C2;
}


.cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  background: #FFFFFF;
  border: 1px solid #37373750;
  /* transition: 0.075s ease; */
  padding: 2px;
}

.cell>input {
  width: 100%;
  height: 100%;
  padding: 4px;
  background: #FFFFFF;
  border: 0.25px solid #37373700;
  /* transition: 0.075s ease; */
}

.tile[data-selected=true].left {
  background: #E0E0E0;
  border-left: 1px solid #FFA900;
  /* transition: 0.075s ease; */
}

.tile[data-selected=true].right {
  background: #E0E0E0;
  border-right: 1px solid #FFA900;
  /* transition: 0.075s ease; */
}

.tile[data-selected=true].top {
  background: #E0E0E0;
  border-top: 1px solid #FFA900;
  /* transition: 0.075s ease; */
}

.tile[data-selected=true].bottom {
  background: #E0E0E0;
  border-bottom: 1px solid #FFA900;
  /* transition: 0.075s ease; */
}




.tile[data-selected=true] {
  background: #E0E0E0;
  /* border: 0.25px solid #68686800; */
  /* transition: 0.075s ease; */
}

/* .tile[data-selected=true] {
  background: #EAE91530;
  border: 0.25px solid #DBA60E50;
  transition: 0.075s ease;
} */


.cell>.cell-content[data-has-character=true] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border: 1px solid #3D3D3D;
  background: #ECAE13;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  opacity: 0;
  /* transition: 2s; */
}

.cell>.cell-content[data-is-path-node=true] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border: 1px solid #3D3D3D;
  background: #D02ED6;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  transition: 2s;
}

.cell>.cell-content[data-is-target=true] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border: 1px solid #3D3D3D;
  background: #77C4AE;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  /* transition: 2s; */
}


button {
  background: #191A2020;
  border: 1px solid #5F5F5F;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: #EFEFEF;
  font-size: 24px;
}

button:active {
  background: #3F415320;
}
